.wrapper {
  // ============== Accordion ==============
  .ac {
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: all 0.15s ease-in;

    .ac-trigger {
      cursor: default;
      padding: 0;
      font: inherit;
      color: var(--cm);
      font-size: inherit;
      line-height: inherit;
      &::after {
        display: none;
      }
    }
    [class*="__head"] {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      &::after {
        content: "";
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
        background-position: center center;
        background-repeat: no-repeat;
        // background-image: var(--);
        transition: all 0.15s ease-in;
      }
    }
    [class*="__content"] {
    }
    &.is-active {
      .ac-panel {
        opacity: 1;
      }
      [class*="__head"] {
        &::after {
          transform: rotateX(180deg);
          // background-image: var(--);
        }
      }
    }
    .ac-panel {
      opacity: 0;
      transition-property: height, visibility, opacity !important;
    }
  }

  // ============== Splide ==============
  .splide__list {
    display: flex !important;
  }
  .splide__pagination {
    margin-top: 1rem;
    position: static;
    padding: 0;
    bottom: 0;
    gap: 0 0.5rem;
    li {
      display: flex;
    }
  }
  .splide__pagination__page {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0;
    background-color: var(--ch2);
    opacity: 0.24;
    transition: all 0.15s ease-in;
    &.is-active {
      transform: none;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
  }
}
