<footer class="footer">
  <div class="footer__top">
    <div class="footer__container">
      <div class="footer__heading">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo_f.svg" alt="Logo" />
        </a>

        <nav class="footer__nav">
          <ul class="footer__list anchor-links">
            <li class="menu-item current-menu-item">
              <a href="#trade">Features</a>
            </li>
            <li class="menu-item"><a href="#works">How It Works</a></li>
            <li class="menu-item"><a href="#trust">Why ST Trader</a></li>
            <li class="menu-item"><a href="#reviews">Testimonials</a></li>
            <li class="menu-item"><a href="#faq">FAQ</a></li>
          </ul>
        </nav>
      </div>

      <div class="footer__content">
        <div class="footer__info">
          <div>
            <p>
              The website is owned and operated by ST Trader Ltd, a company
              registered in St. Lucia as an International Business Company (IBC)
              under registration number 2023-00987. The company’s registered
              office is located at Ground Floor, The Sotheby Building, Rodney
              Village, Rodney Bay, Gros-Islet, LC01 401, Saint Lucia. Its
              operational address is Mariano Roque Alonso Street 1344, Asunción,
              001005, Paraguay.
            </p>
          </div>

          <div>
            <h2>Risk Warning:</h2>
            <p>
              Trading leveraged instruments such as derivatives carries a high
              level of risk and may not be suitable for all investors. You could
              lose all or part of your invested capital. Please ensure you fully
              understand the risks involved, consider your level of experience,
              investment goals, and, if necessary, seek independent financial
              advice before trading. Margin trading involves the possibility of
              both significant profits and significant losses.
            </p>
            <p>
              Make sure to familiarize yourself with all related risks and take
              the appropriate steps to manage them effectively. For more
              information, please refer to our Risk Disclosure Notice.
            </p>
          </div>

          <div>
            <h2>Geographical Restrictions:</h2>
            <p>
              The information on this website is not intended for residents of
              the following countries or territories: Afghanistan, Albania,
              Algeria, Angola, Australia, Bahrain, Bangladesh, Barbados,
              Belarus, Benin, Bhutan, Bosnia and Herzegovina, Botswana, Brazil,
              Burkina Faso, Burundi, Cambodia, Cameroon, Cape Verde, Central
              African Republic, Chad, China, Comoros, Democratic Republic of the
              Congo, Crimea region, Cuba, Djibouti, Egypt, Eritrea, Ethiopia,
              Fiji, Gabon, Ghana, Guinea, Haiti, Iran, Iraq, Jamaica, Jordan,
              Kenya, Kosovo, Kuwait, Laos, Lebanon, Liberia, Libya, North
              Macedonia, Madagascar, Malawi, Maldives, Mali, Morocco, Myanmar,
              Namibia, Nepal, Niger, Nigeria, North Korea, Northern Cyprus,
              Oman, Pakistan, Palau, Puerto Rico, Qatar, Russia, Rwanda,
              Somalia, Senegal, South Sudan, Sudan, Syria, Tanzania, Togo,
              Trinidad and Tobago, Tunisia, Tuvalu, United Kingdom, United
              States, Vanuatu, Vatican City, Yemen, Zambia, and Zimbabwe.
            </p>
          </div>

          <div>
            <p>
              Use of this website and services is not intended for any person in
              any jurisdiction where such use would be contrary to local laws or
              regulations.
            </p>
          </div>
        </div>

        <div class="poster">
          <h2 class="poster__tl">Start Invest Smarter Today</h2>

          <div class="poster__coin1 no-select">
            <img src="./img/decor/poster_coin1.png" alt="" />
          </div>
          <div class="poster__coin2 no-select">
            <img src="./img/decor/poster_coin2.png" alt="" />
          </div>

          <div class="poster__tel no-select">
            <img src="./img/decor/poster_tel.png" alt="" />
          </div>

          <div class="poster__space no-select">
            <img src="./img/decor/space.png" alt="" />
          </div>

          <div class="poster__bg no-select">
            <img src="./img/decor/bg_lg.jpg" alt="" />
          </div>

          <a href="#" class="btn-def mini">Get Started Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__container">
      <p>ST trader 2025</p>
      <a href="./policy.html">Privacy Policy</a>
    </div>
  </div>
</footer>
