<div class="actions">
  <ul class="actions__lang">
    <li>
      <a href="#">EN</a>
      <ul class="sub-menu">
        <li>
          <a href="#">EN</a>
        </li>
        <li>
          <a href="#">IT</a>
        </li>
        <li class="current-lang">
          <a href="#">PL</a>
        </li>
        <li>
          <a href="#">DE</a>
        </li>
        <li>
          <a href="#">RU</a>
        </li>
      </ul>
    </li>
  </ul>

  <a href="/contact.html" class="btn-def mini">Sign Up</a>
</div>
