body {
  /* Colors */
  --cw: #fff;
  --cb: #000;
  --cb2: #100f22;

  --cn: #242334;

  --ce: #efefef;

  --ch: #bdbdbd;

  --cl: #0de3d6;

  --cg: #00b67a;

  --clb: linear-gradient(180deg, #242334 0%, #151427 100%);

  /* Fonts */
  --ff: "OpenSans", sans-serif;
}
