<section class="awarded">
  <div class="awarded__container">
    <div class="heading col-gap aic">
      <h2 class="tl2 cb">AWARDED FOR EXCELLENCE IN TRADING INNOVATION</h2>
    </div>

    <ul class="awarded__list">
      <li class="awarded__item">
        <div class="awarded__decor no-select">
          <img src="./img/decor/wreath.svg" alt="" />
        </div>
        <h3 class="awarded__tl">Best Trading Experience</h3>
        <div class="awarded__desc">
          <p>Awarded by Global Business Outlook — 2024</p>
        </div>
      </li>

      <li class="awarded__item">
        <div class="awarded__decor no-select">
          <img src="./img/decor/wreath.svg" alt="" />
        </div>
        <h3 class="awarded__tl">Best Mobile Trading Platform</h3>
        <div class="awarded__desc">
          <p>Awarded by Fintech Awards — 2023</p>
        </div>
      </li>

      <li class="awarded__item">
        <div class="awarded__decor no-select">
          <img src="./img/decor/wreath.svg" alt="" />
        </div>
        <h3 class="awarded__tl">Fastest Growing Broker</h3>
        <div class="awarded__desc">
          <p>Awarded by World Finance — 2024</p>
        </div>
      </li>

      <li class="awarded__item">
        <div class="awarded__decor no-select">
          <img src="./img/decor/wreath.svg" alt="" />
        </div>
        <h3 class="awarded__tl">Best New Trading Technology</h3>
        <div class="awarded__desc">
          <p>Awarded by Financial Innovation Awards — 2022</p>
        </div>
      </li>
    </ul>
  </div>
</section>
