<section class="copytop pdt1">
  <div class="copytop__container">
    <div class="copytop__body">
      <div class="copytop__content">
        <h2 class="tl2">Invest Smarter: Copy Top Traders Instantly</h2>
        <div class="txt1 ch">
          <p>
            ST Trader gives you access to the world’s most popular markets with
            low costs, fast execution, and no hidden fees
          </p>
        </div>
        <a href="#" class="btn-def">Start Copy Trading</a>
      </div>

      <div class="copytop__space no-select">
        <img src="./img/decor/space.png" alt="" />
      </div>
      <div class="copytop__bg no-select">
        <img src="./img/decor/bg_lg.jpg" alt="" />
      </div>
      <div class="copytop__desc no-select">
        <img src="./img/decor/desc_1.png" alt="" />
      </div>
    </div>
  </div>
</section>
