<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1">
          START TRADING IN GLOBAL MARKETS FAST, SIMPLE, SECURE
        </h1>
        <div class="txt2 ch">
          <p>
            ST Trader gives you access to the world’s most popular markets with
            low costs, fast execution, and no hidden fees
          </p>
        </div>

        <a href="#" class="btn-def">Get Started Now</a>
        <p class="note">Registration takes <span>less than 1 min</span></p>

        <div class="hero__safe">
          <div>
            <h2>100% safe</h2>
            <p>Duis aute irure dolor</p>
          </div>
          <ul>
            <li class="ibg">
              <img src="./img/content/safe_1.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="./img/content/safe_2.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="./img/content/safe_3.jpg" alt="" />
            </li>
            <li class="ibg">
              <img src="./img/content/safe_4.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>

      <div class="widget">
        <div class="widget__tel no-select">
          <img src="./img/decor/tel1.png" alt="" />
        </div>

        <div class="widget__slider">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>
                    ST Trader gives you access to the world’s most popular
                    markets with low costs, fast execution, and no hidden fees
                  </p>
                </li>
                <li class="splide__slide">
                  <p>ST Trader gives you access to the world’s most</p>
                </li>
                <li class="splide__slide">
                  <p>
                    ST Trader gives you access to the world’s most ST Trader
                    gives you access to the world’s most
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="trustpilot">
          <a href="#" class="trustpilot__img">
            <img src="./img/content/trust.png" alt="" />
          </a>
          <p>
            <span>4.8<span>/5</span></span> (Based on 1 325 reviews)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__space no-select">
      <img src="./img/decor/space.png" alt="" />
    </div>
    <div class="hero__bg no-select">
      <img src="./img/decor/bg_lg.jpg" alt="" />
    </div>
    <div class="hero__planet no-select">
      <img src="./img/decor/planet.png" alt="" />
    </div>
    <div class="hero__ellipse" aria-hidden="true"></div>
  </div>
</section>
