<section class="reviews pdt1 secIndex" id="reviews">
  <div class="reviews__container">
    <div class="reviews__heading">
      <div class="reviews__head">
        <h2 class="tl2">WHAT REAL USERS SAY ABOUT ST TRADER</h2>

        <div class="txt1">
          <p>Thousands of traders trust us — here’s why</p>
        </div>
      </div>

      <div class="trustpilot">
        <a href="#" class="trustpilot__img">
          <img src="./img/content/trust.png" alt="" />
        </a>
        <p>
          <span>4.8<span>/5</span></span> (Based on 1 325 reviews)
        </p>
      </div>
    </div>

    <div class="reviews__wrapp more-block">
      <ul class="reviews__cards">
        <li class="card-review">
          <div class="card-review__mess txt2">
            <p>
              I started with €250 just to try it out. After 3 weeks, I had €412
              on my balance - and I didn’t need to sit in front of charts all
              day.
            </p>
          </div>

          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="./img/content/safe_1.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Lucas T. (Germany)</h3>
              <p>5/5</p>
            </div>
          </div>
        </li>

        <li class="card-review">
          <div class="card-review__media media-box">
            <div class="card-review__video video-box">
              <video poster="./img/content/review_1.jpg" preload="metadata">
                <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
                <source src="./img/media/mov-webm.webm" type="video/webm" />
              </video>
            </div>

            <button
              type="button"
              class="card-review__play video-play"
              aria-label="Video play"
            >
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </button>
          </div>

          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="./img/content/safe_2.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Matteo L. (Italy)</h3>
              <p>5/5</p>
            </div>
          </div>
        </li>

        <li class="card-review">
          <div class="card-review__mess txt2">
            <p>
              I’ve tried a few platforms before, but this one finally clicked.
            </p>
            <p>
              Clean design, fast deposits, and my first withdrawal of €180 came
              through in less than a day.
            </p>
          </div>

          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="./img/content/safe_3.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Sofia M. (Spain)</h3>
              <p>5/5</p>
            </div>
          </div>
        </li>

        <li class="card-review">
          <div class="card-review__mess txt2">
            <p>
              I started with €250 just to try it out. After 3 weeks, I had €412
              on my balance - and I didn’t need to sit in front of charts all
              day.
            </p>
          </div>

          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="./img/content/safe_1.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Daniel K. (Sweden)</h3>
              <p>5/5</p>
            </div>
          </div>
        </li>

        <li class="card-review">
          <div class="card-review__media media-box">
            <div class="card-review__video video-box">
              <video poster="./img/content/review_1.jpg" preload="metadata">
                <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
                <source src="./img/media/mov-webm.webm" type="video/webm" />
              </video>
            </div>

            <button
              type="button"
              class="card-review__play video-play"
              aria-label="Video play"
            >
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </button>
          </div>

          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="./img/content/safe_2.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Noah D. (Belgium)</h3>
              <p>5/5</p>
            </div>
          </div>
        </li>

        <li class="card-review">
          <div class="card-review__mess txt2">
            <p>
              I started with €250 just to try it out. After 3 weeks, I had €412
              on my balance - and I didn’t need to sit in front of charts all
              day.
            </p>
          </div>

          <div class="card-review__user">
            <div class="card-review__ava ibg">
              <img src="./img/content/safe_1.jpg" alt="" />
            </div>
            <div class="card-review__name">
              <h3>Mia S. (Austria)</h3>
              <p>5/5</p>
            </div>
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def bg-trn addMore">Show more</button>
    </div>
  </div>
</section>
