<section class="type pdt1">
  <div class="type__container">
    <div class="type__wrapp">
      <div class="type__body">
        <div class="heading col-gap aic">
          <h2 class="tl2">CHOOSE YOUR ACCOUNT TYPE</h2>

          <div class="txt3 ce">
            <p>
              Two flexible account types tailored to your goals and trading
              habits
            </p>
          </div>
        </div>

        <ul class="type__cards">
          <li class="card-type">
            <div class="card-type__img ibg">
              <img src="./img/content/type_1.jpg" alt="" />
              <h3 class="card-type__tl">STANDARD</h3>
            </div>

            <ul class="card-type__list">
              <li>Spreads starting from <b>1.0 pips</b></li>
              <li><b>Ultra-fast</b> Execution</li>
              <li>No <b>Dealing Desk</b></li>
              <li><b>Transparent Trading</b> Environment</li>
              <li>Negative Balance <b>Protection</b></li>
              <li><b>No commission</b> on trades (except indices)</li>
            </ul>

            <a href="#" class="btn-def">OPEN A STANDARD ACCOUNT NOW</a>
            <p class="note">Just sign up - <span>it’s free</span></p>
          </li>

          <li class="card-type">
            <div class="card-type__img ibg">
              <img src="./img/content/type_2.jpg" alt="" />
              <h3 class="card-type__tl">ECN</h3>
            </div>

            <ul class="card-type__list">
              <li>Spreads starting from <b>0.0 pips</b></li>
              <li><b>Ultra-fast</b> Execution</li>
              <li>In-depth <b>Market Insights</b></li>
              <li><b>Transparent Trading</b> Environment</li>
              <li>Negative Balance <b>Protection</b></li>
              <li><b>Commission:</b> Yes</li>
            </ul>

            <a href="#" class="btn-def">OPEN An ecn ACCOUNT NOW</a>
            <p class="note">Just sign up - <span>it’s free</span></p>
          </li>
        </ul>
      </div>

      <div class="type__vec1 no-select" aria-hidden="true">
        <img src="./img/decor/vec_1.svg" alt="" />
      </div>
      <div class="type__vec2 no-select" aria-hidden="true">
        <img src="./img/decor/vec_2.svg" alt="" />
      </div>
    </div>
  </div>
</section>
